<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-disable-backup" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Disable Android Backup</name>

  <platform name="android">
    <edit-config file="AndroidManifest.xml"
                 mode="merge"
                 target="/manifest/application/@android:allowBackup"
                 xmlns:android="http://schemas.android.com/apk/res/android">
      <string>false</string>
    </edit-config>
  </platform>
</plugin>
